<div>
    <div class="p-grid">
        <div class="p-col">
        </div>
        <div class="p-col-10">
            <div id="latest" class="content-section">
                <p-card>
                    <p-carousel [value]="projects" [numVisible]="2" [numScroll]="2" [autoplayInterval]="6000"
                    [circular]="true" [responsiveOptions]="responsiveOptions">
                        <ng-template pTemplate="header">
                            <h2>{{constants.LATEST_PROJECTS_LABEL}}</h2>
                        </ng-template>
                        <ng-template let-project pTemplate="item">
                            <div class="carousel-card">
                                <p-card>
                                    <div class="p-grid">                    
                                        <div class="p-col image-container">
                                            <img src="{{project.media[0]}}" [alt]="project.title" class="carousel-image">
                                        </div>
                                        <div class="p-col">
                                            <div>
                                                <h2>
                                                    <a [routerLink]="['/main']" fragment="{{project.id}}">{{project.title}}</a>
                                                </h2>
                                            </div>
                                            <div>
                                                {{project.description}}
                                            </div>
                                        </div>
                                    </div>  
                                </p-card>
                            </div>
                        </ng-template>
                    </p-carousel>
                </p-card>
            </div>
            <div id="personal" class="content-section">
                <p-card>
                    <app-personal
                        [personal] = "personalInfo">
                    </app-personal>
                </p-card>
            </div>
            <div id="videogames" class="content-section">
                <p-card>
                    <h1>
                        VideoGames
                    </h1>
                    <div class="p-grid">
                        <div *ngFor = "let project of projects"  class="p-col-12 p-md-6 p-lg-6">
                            <p-card class="project-card">
                                <app-project-detail
                                    [project] = "project">
                                </app-project-detail>
                            </p-card>
                        </div>
                    </div>
                </p-card>
            </div>
            <div id="contact" class="content-section">
                <p-card>
                    <h1>
                        Contact
                    </h1>
                    <div class="p-grid p-jc-center">
                        <div class="p-col-3">
                            <button *ngFor = "let link of personalInfo.links" pButton pRipple type="button" icon="{{link.icon}}"
                                pTooltip="{{link.name}}" tooltipPosition="bottom"
                                class="p-button-rounded p-button-text p-button-lg p-button-info"
                                (click)="goToContact(link.url)">
                            </button>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="p-col">
            
        </div>
    </div>
    
</div>